{% extends "base.html" %}

{% block title %}<title>Car Detail</title>{% endblock %}

{% block content %}
<h2>Car: {{ car.model }}</h2>
<p><strong>Manufacturer:</strong> {{ car.manufacturer.name }} ({{ car.manufacturer.country }})</p>

<h3>Drivers of this car</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>License Number</th>
        </tr>
    </thead>
    <tbody>
        {% for driver in car.drivers.all %}
        <tr>
            <td>{{ driver.id }}</td>
            <td><a href="{% url 'taxi:driver-detail' driver.id %}">{{ driver.username }}</a></td>
            <td>{{ driver.license_number }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="3">No drivers assigned to this car.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
