{% extends "base.html" %}

{% block title %}<title>Drivers</title>{% endblock %}

{% block content %}
<h2>Drivers</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>License Number</th>
        </tr>
    </thead>
    <tbody>
        {% for driver in driver_list %}
        <tr>
            <td>{{ driver.id }}</td>
            <td><a href="{% url 'taxi:driver-detail' driver.id %}">{{ driver.username }}</a></td>
            <td>{{ driver.license_number }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="3">No drivers found.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
